{% extends 'flow/base.html' %}

{% from "flow/_helpers.html" import render_agenda, render_doc_meta %}

{% block title %}{% if item.slug %}%{{ item.slug }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block heading %} Имущество: {{ item.title }} {% endblock %}
{% block content %}
    {{ render_doc_meta(item) }}

    {{ render_agenda(agenda) }}

    {% if item.body %}
        {{ item.body|hashtagify|safe }}
    {% else %}
        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Попробуйте <a href="{{ url_for('flow.asset_index') }}">другое имущество</a>.
        </div>
    {% endif %}
{% endblock %}

