{% extends 'base.html' %}

{% from "_helpers.html" import render_tasks, render_doc_meta %}

{% block title %}@{{ item.slug }} — {{ super() }}{% endblock %}
{% block heading %}
    {% if item.title %}
        {{ item.title }}
    {% else %}
        Неизвестный контакт {{ item.slug }}
    {% endif %}
{% endblock %}
{% block content %}
    {{ render_doc_meta(item) }}

    {% if agenda %}
        {{ render_tasks(agenda) }}
    {% endif %}

    {% if item.body %}
        {{ item.body|hashtagify|safe }}
    {% else %}
        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Попробуйте <a href="{{ url_for('flow.contact_index') }}">другие контакты</a>.
        </div>
    {% endif %}
{% endblock %}

