{% extends 'base.html' %}

{% from "_helpers.html" import render_tasks %}

{% block heading %} Планы на {{ date.strftime('%e.%m.%Y') }} {% endblock %}
{% block content %}

    <ul class="pager">
        <li> {# class="previous">#}
            <a href="{{ url_for('flow.day_view', year=prev.year, month=prev.month, day=prev.day) }}">&larr; {{ prev.strftime('%e %b') }}</a>
        </li>
        <li>{{ date.strftime('%e %b %Y') }}</li>
        <li> {# class="next">#}
            <a href="{{ url_for('flow.day_view', year=next.year, month=next.month, day=next.day) }}">{{ next.strftime('%e %b') }} &rarr;</a>
        </li>
    </ul>

    {% if items %}
        {{ render_tasks(items, day=date) }}
    {% else %}
        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Попробуйте другой день.
        </div>
    {% endif %}
{% endblock %}
