{% macro render_tasks(plans, day=None) %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>State</th>
                {#
                <th>Bonus</th>
                #}
                <th>Text</th>
                <th>Effort</th>
                {#
                <th>DRAG</th>
                <th>FXTM</th>
                <th>WAIT</th>
                #}
                <th>Context</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in plans %}
                <tr>
                    <td>
                        {% if plan.status == 'done' %}
                            <i class="icon icon-check"></i>
                            {% if plan.srcmeta and plan.srcmeta.from_yesterday %}
                                <span class="label label-success">at last!</span>
                            {% endif %}
                        {% elif plan.status == 'waiting' %}
                            <i class="icon icon-phone"></i>
                        {% else %}
                            <i class="icon icon-check-empty"></i>
                            {% if plan.srcmeta and plan.srcmeta.from_yesterday %}
                                <span class="label label-warning">drag</span>
                            {% endif %}
                            {% if plan.srcmeta and plan.srcmeta.bigstone %}
                                <i class="icon icon-heart"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    {#
                    <td>
                        {% if plan.bigstone %}
                            <span class="label label-important">big stone</span>
                        {% endif %}
                    </td>
                    #}
                    <td style="{% if plan.bigstone %}font-size: 1.2em;{% endif %}">
                        {% if plan.deadline %}
                            {% if plan.deadline == (day or now().date()) %}
                                <span class="badge badge-{% if plan.state == "done" %}success{% else %}warning{% endif %}">сегодня</span>
                            {% elif plan.deadline < (day or now().date()) %}
                                <span class="badge badge-{% if plan.state == "done" %}success{% else %}important{% endif %}" title="{{ plan.deadline }}">{{ now().date() - plan.deadline }}</span>
                            {% else %}
                                <span class="badge badge-info">{{ plan.deadline }}</span>
                            {% endif %}
                        {% endif %}
                        {% if plan.time %}
                            <span class="label label-info"><i class="icon-time icon-white"></i> {{ plan.time.strftime('%H:%M') }}</span>
                        {% endif %}
                        {% if plan.delegated %}
                            <a href="{{ url_for('flow.contact_detail', slug=plan.delegated) }}"><i class="icon icon-user"></i> {{ plan.delegated }}:</a>
                        {% endif %}
                        <span style="{% if plan.state == 'done' %}color: darkgrey; text-decoration: line-through;{% endif %}">
                            {{ plan.action|capfirst|hashtagify|safe|urlize }}
                        </span>
                    </td>
                    <td>
                        {% if plan.effort %}
                            <span class="badge badge-info">{{ plan.effort }}</span>
                        {% endif %}
                    </td>
                    {#
                    <td>{% if plan.from_yesterday %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    <td>{% if plan.fixed_time %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    <td>{% if plan.waiting_for %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    #}
                    <td>
                        {% for context in plan.context %}
                            <a href="{{ url_for('flow.context_detail', slug=context) }}" class="label">
                                <i class="icon-globe icon-white"></i>
                                {{ context }}
                            </a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}


{% macro render_hashtag_index(items, detail_endpoint, hashtag='') %}
    {# renders a list of known hashtags with titles and links to detail views #}

    <table class="table table-striped table-condensed">
        <thead>
            <th>State</th>
            <th>Hashtag</th>
            <th>Title</th>
            <th>Categories</th>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {% if item.state == 'active' %}
                            <span class="badge badge-success">актуально</span>
                        {% elif item.state == 'closed' %}
                            <span class="badge">закрыто</span>
                        {% else %}
                            <span class="badge">{{ item.state or '?' }}</span>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for(detail_endpoint, slug=item.slug) }}">{{ hashtag }}{{ item.slug }}</a></td>
                    <td><a href="{{ url_for(detail_endpoint, slug=item.slug) }}">{{ item.title }}</a></td>
                    <td>
                        {% if item.categories %}
                            {% for category in item.categories %}
                                <span class="label">{{ category }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}

{% macro render_doc_meta(meta) %}

    {% if meta|count > 3 %}  {# i.e. if not just the title, slug and body #}
        <div style="padding: 1em 0;">
            {% if meta.state %}
                {% if meta.state == 'active' %}
                    <span class="badge badge-success">актуально</span>
                {% elif meta.state == 'closed' %}
                    <span class="badge">закрыто</span>
                {% else %}
                    <span class="badge">{{ meta.state }}</span>
                {% endif %}
            {% endif %}

            {% if meta.categories %}
                <span style="padding: .5em 2ex">
                    {% for tag in meta.categories %}
                        <span class="label"><i class="icon-white icon-tag"></i> {{ tag }}</span>
                    {% endfor %}
                </span>
            {% endif %}

            {% if meta.emails %}
                <span style="padding: .5em 2ex">
                    <a href="https://mail.google.com/mail/u/0/?shva=1#search/{{ meta.emails|join(' OR ') }}"><i class="icon-envelope"></i> Переписка</a>
                </span>
            {% endif %}

            {% if meta.mail_label %}
                <span style="padding: .5em 2ex">
                    <a href="https://mail.google.com/mail/u/0/?shva=1#label/{{ meta.mail_label.replace('/', '%2F') }}"><i class="icon-envelope"></i> Переписка</a>
                </span>
            {% endif %}

            {% if meta.stakeholders %}
                <span style="padding: .5em 2ex">
                    Заинтересованы
                    {% for person in meta.stakeholders %}
                        {{ ("@"+person)|hashtagify|safe }}
                    {% endfor %}
                </span>
            {% endif %}

        </div>
    {% endif %}

{% endmacro %}
