{% macro render_tasks(items, day=None) %}
    <table class="table">
        <thead>
            <tr>
                <th>Проблема</th>
                <th>Решение</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr class="item
                           {% if item.mode == 'solved' %}
                               solved
                           {% elif item.plan %}
                               open
                           {% else %}
                               new
                           {% endif %}
                          ">
                    <td class="{% if item.risk %}problem{% else %}idea{% endif %}">
                        <div class="triangle-container">
                            <p class="triangle"></p>
                        </div>
                        {% if item.risk %}
                            <p title="{{ item.note }}">
                                {{ item.risk }}
                            </p>
                        {% else %}
                            <p style="font-size: .8em; font-style: italic;">{{ item.note }}</p>
                        {% endif %}
                    </td>
                    <td class="solution">
                        <div class="triangle-container">
                            <p class="triangle"></p>
                        </div>
                        <ul>
                        {% for task in item.plan %}
                            <li>
                                {% if task.status %}
                                    <span class="label">{{ task.status }}</span>
                                {% endif %}
                                {{ task.action }}
                                {% if task.closed %}
                                    <span class="label">Закрыто {{ task.closed.strftime('%d.%m.%Y %H:%M') }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td class="outcome">
                        {% if item.stakeholders %}
                            <p>
                                {% for s in item.stakeholders %} @{{ s }}{% endfor %}:
                            </p>
                        {% endif %}
                        {{ item.need }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}

{% macro render_plan(plan) %}

    {% if plan.status == 'done' %}
        {% if plan.srcmeta and plan.srcmeta.from_yesterday %}
            <span class="label label-success">at last!</span>
        {% else %}
            <span class="label label-success">done</span>
        {% endif %}
    {% elif plan.status == 'unclear' %}
        <span class="label label-important">unclear</span>
    {% elif plan.status == 'waiting' %}
        <span class="label label-info">waiting</span>
    {% elif plan.srcmeta and plan.srcmeta.from_yesterday %}
        <span class="label label-warning">drag</span>
    {% elif plan.srcmeta and plan.srcmeta.bigstone %}
        <span class="label label-warning">big stone</span>
    {% else %}
        <span class="label label-warning">to do</span>
    {% endif %}

    {% if plan.time %}
        <span class="label label-info"><i class="icon-time icon-white"></i> {{ plan.time.strftime('%H:%M') }}</span>

        {% if plan.status != 'done' %}
            {% if plan.time.date() < (day or now().date()) %}
                <span class="badge badge-{% if plan.status == "done" %}success{% else %}important{% endif %}" title="{{ plan.time }}">{{ now() - plan.time }} назад</span>
            {% else %}
                <span class="badge
                {% if (plan.time - now()).total_seconds() < 60*60*24 %}badge-warning{% else %}badge-info{% endif %}
                ">
                осталось {{ plan.time - now() }}</span>
            {% endif %}
        {% endif %}

    {% endif %}

    {% if plan.status == 'done' %}
        <del>{{ plan.action|capfirst|urlize }}</del>
    {% else %}
        {{ plan.action|capfirst|hashtagify|safe|urlize }}
    {% endif %}

{% endmacro %}

{% macro render_item_mode_label(item) %}

    {% if item.mode == 'open' %}
        <span class="label label-warning">open</span>
    {% elif item.mode == 'cancelled' %}
        <span class="label">cancelled</span>
    {% else %}
        <span class="label label-success">solved</span>
    {% endif %}

{% endmacro %}

{% macro render_item_type_label(item) %}

    {% if item.risk %}
        <span class="label label-important">risk</span>
    {% else %}
        <span class="label label-info">need</span>
    {% endif %}

{% endmacro %}

{% macro render_item_importance_label(item) %}

    {% if item.important %}
        <span class="label label-warning">Важно!</span>
    {% endif %}

{% endmacro %}

{% macro render_item_labels(item) %}

    {{ render_item_type_label(item) }}
    {{ render_item_mode_label(item) }}
    {{ render_item_importance_label(item) }}

{% endmacro %}

{% macro render_delta(dt1, dt2) %}

    {% set delta = relativedelta(dt1, dt2) %}

    {% if delta.years %}
        {{ delta.years }} years
    {% endif %}

    {% if delta.months %}
        {{ delta.months }} months
    {% endif %}

    {% if delta.weeks %}
        {{ delta.weeks }} weeks
    {% endif %}

    {% if delta.days %}
        {{ delta.days }} days
    {% endif %}

    {% if delta.hours %}
        {{ delta.hours }}h
    {% endif %}

    {% if delta.minutes %}
        {{ delta.minutes }}m
    {% else %}
        только что
    {% endif %}

{% endmacro %}
