{% macro render_tasks(items, day=None) %}
    <table class="table">
        <thead>
            <tr>
                <th>Проблема</th>
                <th>Решение</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr class="item
                           {% if item.solved %}
                               solved
                           {% elif item.plan %}
                               open
                           {% else %}
                               new
                           {% endif %}
                          ">
                    <td class="{% if item.risk %}problem{% else %}idea{% endif %}">
                        <div class="triangle-container">
                            <p class="triangle"></p>
                        </div>
                        {% if item.risk %}
                            <p title="{{ item.note }}">
                                {{ item.risk }}
                            </p>
                        {% else %}
                            <p style="font-size: .8em; font-style: italic;">{{ item.note }}</p>
                        {% endif %}
                    </td>
                    <td class="solution">
                        <div class="triangle-container">
                            <p class="triangle"></p>
                        </div>
                        <ul>
                        {% for task in item.plan %}
                            <li>
                                {% if task.status %}
                                    <span class="label">{{ task.status }}</span>
                                {% endif %}
                                {{ task.action }}
                                {% if task.closed %}
                                    <span class="label">Закрыто {{ task.closed.strftime('%d.%m.%Y %H:%M') }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td class="outcome">
                        {% if item.stakeholders %}
                            <p>
                                {% for s in item.stakeholders %} @{{ s }}{% endfor %}:
                            </p>
                        {% endif %}
                        {{ item.need }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}

{% macro render_plan(plan) %}

    {% if plan.status == 'done' %}
        <i class="icon icon-check"></i>
        {% if plan.srcmeta and plan.srcmeta.from_yesterday %}
            <span class="label label-success">at last!</span>
        {% endif %}
    {% elif plan.status == 'waiting' %}
        <i class="icon icon-phone"></i>
    {% elif plan.status == 'cancelled' or (plan.closed and not plan.status == 'done') %}
        <i class="icon icon-remove-sign"></i>
    {% else %}
        <i class="icon icon-check-empty"></i>
        {% if plan.srcmeta and plan.srcmeta.from_yesterday %}
            <span class="label label-warning">drag</span>
        {% endif %}
        {% if plan.srcmeta and plan.srcmeta.bigstone %}
            <i class="icon icon-heart"></i>
        {% endif %}
    {% endif %}

    {% if plan.status == 'unclear' %}
        <i class="icon icon-question-sign"></i>
    {% endif %}

    {% if plan.time %}
        <span class="label label-info"><i class="icon-time icon-white"></i> {{ plan.time.strftime('%H:%M') }} UTC</span>

        {% if plan.status != 'done' %}
            {% if plan.time.date() < (day or now().date()) %}
                <span class="badge badge-{% if plan.status == "done" %}success{% else %}acute{% endif %}" title="{{ plan.time }}">{{ now() - plan.time }} назад</span>
            {% else %}
                <span class="badge
                {% if (plan.time - now()).total_seconds() < 60*60*24 %}badge-warning{% else %}badge-info{% endif %}
                ">
                осталось {{ plan.time - now() }}</span>
            {% endif %}
        {% endif %}

    {% endif %}

    {% if plan.status in ('done', 'cancelled') or (plan.closed and plan.status != 'done') %}
        <del>
    {% endif %}

    {% if plan.delegated %}
        <a href="{{ url_for('flow.contact_detail', slug=plan.delegated) }}"><i class="icon icon-user"></i> {{ plan.delegated }}</a> должен
        {{ plan.action|hashtagify|safe|urlize }}
        {% if plan.opened %}
            ({{ render_delta(plan.opened, (plan.closed or now())) }} в ожидании)
        {% endif %}
    {% else %}
        {{ plan.action|render_rst|hashtagify|safe|urlize|capfirst }}
    {% endif %}

    {% if plan.reqs %}
        <span style="border: 1px solid yellow;">взять <strong>{{ plan.reqs }}</strong></span>
    {% endif %}

    {% for tag in plan.context %}
        <a href="{{ url_for('flow.context_detail', slug=tag) }}" class="label"><i class="icon icon-map-marker"></i> {{ tag }}</a>
    {% endfor %}

    {% if plan.status in ('done', 'cancelled') or (plan.closed and plan.status != 'done') %}
        </del>
    {% endif %}

    {% if plan.result %}
        {% if '\n\n' in plan.result %}
            <div style="margin-left: 3ex; border-left: 1px solid green; font-size: .9em; padding: 0 0 0 2ex; color: gray;">
                {{ plan.result|render_rst|hashtagify|safe|urlize }}
            </div>
        {% else %}
            <span style="color: Green;"> → {{ plan.result|hashtagify|safe|urlize }}</span>
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro render_item_mode_label(item) %}

    {% if item.solved %}
        <i class="icon icon-ok"></i>
    {% elif item.closed %}
        <i class="icon icon-remove"></i>
    {% elif item.frozen %}
        <i class="icon icon-lock"></i>
    {% else %}
        {% if item.acute %}
            <i class="icon icon-star"></i>
        {% else %}
            <i class="icon icon-star-empty"></i>
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro render_item_type_label(item) %}

    {% if item.risk %}
        <i class="icon icon-warning-sign"></i>
    {% else %}
        <i class="icon icon-gift"></i>
    {% endif %}

{% endmacro %}

{% macro render_item_importance_label(item) %}

    {% if item.acute %}
        <i class="icon icon-heart"></i>
    {% endif %}

{% endmacro %}

{% macro render_item_labels(item) %}

    {{ render_item_type_label(item) }}
    {{ render_item_mode_label(item) }}
    {{ render_item_importance_label(item) }}

{% endmacro %}
