{% extends 'flare/base.html' %}

{% from 'flare/_helpers.html' import render_plan %}

{% block title %} Планы на {{ date.strftime('%e.%m.%Y') }} {% endblock %}
{% block heading %} Планы на {{ date.strftime('%e.%m.%Y') }} {% endblock %}
{% block head %}
    <style type="text/css">
        dl.needs-and-plans dt {
            margin-top: .5em;
            border-top: 1px solid #ddd;
            font-weight: normal;
            color: #aaa;
            line-height: 1.7em;
        }
        dl.needs-and-plans dt.important {
            font-size: 1.2em;
        }
        dl.needs-and-plans dt.important,
        dl.needs-and-plans dt.important em {
            color: black;
        }
        dl.needs-and-plans dt em {
            font-style: normal;
            color: #777;
        }
        dl.needs-and-plans dd {
            line-height: 2em;
        }
        dl.needs-and-plans dd del {
            color: ForestGreen;
        }
        dl.needs-and-plans dt.solved {
            background: YellowGreen;
            color: white;
            text-shadow: 0 0 1px ForestGreen;
        }
        dl.needs-and-plans dd.solved {
            border-left: 2px solid YellowGreen;
            margin-left: 0;
            padding-left: 1ex;
        }
    </style>
{% endblock %}
{% block content %}

    <ul class="nav nav-tabs">
        <li><a href="{{ url_for('flare.day_notes', year=date.year, month=date.month, day=date.day) }}">Заметки</a></li>
        <li><a href="{{ url_for('flare.day_full', year=date.year, month=date.month, day=date.day) }}">Цепочки</a></li>
        <li class="active">
            <a href="#">Задачи</a>
        </li>
    </ul>

    <ul class="pager">
        <li> {# class="previous">#}
            <a href="{{ url_for('flare.day_tasks', year=prev.year, month=prev.month, day=prev.day) }}">&larr; {{ prev.strftime('%e %b') }}</a>
        </li>
        <li>{{ date.strftime('%e %b %Y') }}</li>
        <li> {# class="next">#}
            <a href="{{ url_for('flare.day_tasks', year=next.year, month=next.month, day=next.day) }}">{{ next.strftime('%e %b') }} &rarr;</a>
        </li>
    </ul>

    {% if items %}
        <dl class="needs-and-plans">
        {% for item in items %}
            {% if item.plan %}
                <dt class="{% if item.important %}important{% endif %}
                           {% if item.mode == 'solved' %}solved{% endif %}
                          ">

                    {% if item.need %}
                        {% if item.mode == 'solved' %}
                            <i class="icon-ok icon-white"></i>
                            {{ item.need|capfirst|hashtagify|safe|urlize }}
                        {% else %}
                            <em>{{ item.need|capfirst|hashtagify|safe|urlize }}</em> — для этого:
                        {% endif %}
                    {% else %}
                        Цель не указана:
                    {% endif %}
                </dt>
                {% for task in item.plan %}
                    <dd class="{% if item.mode == 'solved' %}solved{% endif %}">
                        {{ render_plan(task) }}
                    </dd>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </dl>
    {% else %}
        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Попробуйте другой день.
        </div>
    {% endif %}
{% endblock %}
