{% extends 'flare/base.html' %}

{% from 'flare/_helpers.html' import render_plan, render_item_labels %}

{% block title %}Забота: {{ item.risk or item.need }}{% endblock %}
{% block heading %}
    {% if item %}
        {% if item.risk %}
            <i class="icon icon-umbrella"></i>
        {% else %}
            <i class="icon icon-gift"></i>
        {% endif %}
        {{ (item.risk or item.need)|hashtagify|safe|urlize|capfirst }}
    {% else %}
        (Несуществующий элемент)
    {% endif %}
{% endblock %}
{% block head %}
    <style type="text/css">
        .plan-gap {
            margin: 0;
            padding: 0;
            font-size: .8em;
            color: gray;
        }
    </style>
{% endblock %}
{% block content %}

    {% if item %}

        <p>{{ render_item_labels(item) }}</p>

        <dl class="dl-horizontal">

        {% if item.opened %}
            <dt>Открыто</dt>
            <dd>{{ render_delta(item.opened, now()) }} назад</dd>
        {% endif %}

        {% if item.closed %}
            <dt>Закрыто</dt>
            <dd>{{ render_delta(item.closed, now()) }} назад</dd>
        {% endif %}

        {% if item.note %}
            <dt>Заметка</dt>
            <dd>{{ item.note|render_rst|hashtagify|safe|urlize|capfirst }}.</dd>
        {% endif %}

        {% if item.risk %}
            {% if item.need %}
                <dt>Цель</dt>
                <dd>{{ item.need|hashtagify|safe|urlize|capfirst }}.</dd>
            {% else %}
                <dt>Цель</dt>
                <dd>(Положительный результат не проработан.)</dd>
            {% endif %}
        {% endif %}

        {% if item.date %}
            <dt>Дата (дедлайн)</dt>
            <dd>{{ item.date }}</dd>
        {% endif %}

        {% if item.haze %}
            <dt>Неясности</dt>
            <dd>{{ item.haze|render_rst|hashtagify|safe|urlize|capfirst }}.</dd>
        {% endif %}

        {% if item.stakeholders %}
            <dt>Участники</dt>
            {% for person in item.stakeholders %}
                <dd><a href="{{ url_for('flow.contact_detail', slug=person) }}"><i class="icon-user"></i> {{ person }}</a></dd>
            {% endfor %}
        {% endif %}

        {% if item.cost.amount %}
            <dt>Стоимость</dt>
            <dd>{{ item.cost.amount }} <em>{{ item.cost.currency }}</em></dd>
        {% endif %}

        </dl>

        <h2>Планы (закрыто {{ '%.0f'|format(item.completed_percentage) }}% из {{ item.plan|count }} шт)</h2>

        {% if not item.closed and not item.has_next_action() %}
            <p class="alert alert-warning">Нет дальнейших планов</p>
        {% endif %}

        {% set prev_plan = None %}
        {% for plan in item.sorted_plans() %}
            {% if plan.closed and (item.opened or (prev_plan and prev_plan.closed)) %}
                <p class="plan-gap">
                    …{% if plan.delegated %}ждал{% else %}прошло{% endif %}
                    {{ render_delta((prev_plan and prev_plan.closed or item.opened), plan.closed) }}…
                </p>
            {% elif prev_plan and prev_plan.closed and not plan.closed %}
                <p class="plan-gap">
                    …прошло {{ render_delta(prev_plan.closed, now()) }}…
                </p>
            {% endif %}
            <p>
                {#{ loop.index }#}
                {{ render_plan(plan) }}
                {% if plan.closed %}&nbsp;(закрыто {{ plan.closed }} UTC){% endif %}
            </p>
            {% set prev_plan = plan %}
        {% endfor %}

        {% if item.log %}
            <h2>История</h2>
            <dl class="dl-horizontal">
                {% for record in item.log %}
                    <dt>{{ record.time }}</dt>
                    <dd>{{ record.mode }}</dd>
                {% endfor %}
            </dl>
        {% endif %}

    {% else %}

        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Вероятно, такого требования нет.
        </div>

    {% endif %}

{% endblock %}
