{% extends 'flare/base.html' %}

{% from 'flare/_helpers.html' import render_plan, render_item_labels %}

{% block heading %}
    {% if item %}
        {{ (item.risk or item.need)|capfirst|hashtagify|safe }}
    {% else %}
        (Несуществующий элемент)
    {% endif %}
{% endblock %}
{% block content %}

    {% if item %}

        <p>{{ render_item_labels(item) }}</p>

        <dl>

        {% if item.note %}
            <dt>Заметка</dt>
            <dd>{{ item.note }}.</dd>
        {% endif %}

        {% if item.risk %}
            {% if item.need %}
                <dt>Цель</dt>
                <dd>{{ item.need }}.</dd>
            {% else %}
                <dt>Цель</dt>
                <dd>(Положительный результат не проработан.)</dd>
            {% endif %}
        {% endif %}

        {% if item.stakeholders %}
            <dt>Заинтересованные лица</dt>
            {% for person in item.stakeholders %}
                <dd><a href="{{ url_for('flow.contact_detail', slug=person) }}"><i class="icon-user"></i> {{ person }}</a></dd>
            {% endfor %}
        {% endif %}

        </dl>

        <h2>Планы</h2>
        {% for plan in item.plan %}
            <p>{{ render_plan(plan) }}</p>
        {% endfor %}

    {% else %}

        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Вероятно, такого требования нет.
        </div>

    {% endif %}

{% endblock %}
