{% extends 'flare/base.html' %}

{% from 'flare/_helpers.html' import render_item_type_label,
                                     render_item_mode_label,
                                     render_item_importance_label
                                     %}

{% block title %} Заботы {% endblock %}
{% block heading %} Заботы {% endblock %}
{% block head %}
<style type="text/css">
    table.items tr.important td.description {
        font-size: 1.2em;
    }
    table.items tr.solved td,
    table.items tr.solved td a
    {
        color: SeaGreen;
    }
    table.items tr.cancelled td,
    table.items tr.cancelled td a {
        color: Gray;
    }
    table.items tr.solved    td a,
    table.items tr.cancelled td a {
        text-decoration: line-through;
    }
    table.items tr.frozen td,
    table.items tr.frozen td a {
        color: Gray;
    }
    table.items tr.frozen td a {
        font-size: .9em
    }
</style>
{% endblock %}
{% block content %}

    {% if items %}
        <h2><i class="icon icon-umbrella"></i> Что меня беспокоит</h2>
        {{ render_items(items, has_risk=True) }}
        <h2><i class="icon icon-gift"></i> К чему я стремлюсь</h2>
        {{ render_items(items, has_risk=False) }}
    {% else %}
        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Вероятно, вы достигли нирваны.
        </div>
    {% endif %}

{% endblock %}

{% macro render_items(items, has_risk=True) %}

    <table class="table table-striped items">
        <thead>
            <tr>
                <th>Description</th>
                <th>What's Next</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% if has_risk == (True if item.get('risk') else False) %}
                    <tr class="{% if item.solved %}solved{% elif item.closed %}cancelled{% else %}open{% endif %}
                               {% if item.important %}important{% endif %}
                               {% if item.frozen %}frozen{% endif %}
                              ">
                        <td class="description">
                            {{ render_item_mode_label(item) }}

                            {% if item.project %}
                                <a href="{{ url_for('flow.project_detail', slug=item.project) }}"><i class="icon icon-folder-open"></i> {{ item.project }}</a>:
                            {% endif %}

                            <a href="{{ url_for('flare.item_detail', text=(item.need or item.risk)) }}">
                                {{ (item.risk or item.need)|capfirst }}
                            </a>

                            {% if item.date %}<span class="label label-info">{{ 'сегодня' if now().date() == item.date else item.date }}</span>{% endif %}
                        </td>
                        <td class="labels">
                            {% if not item.closed %}
                                {% if item.plan %}
                                    {% if not item.has_next_action() %}
                                        <i class="icon icon-beaker" title="нет дальнейших планов"></i> запланировать
                                    {% endif %}
                                    {% if not item.has_completed_action() %}
                                        <i class="icon icon-check-empty" title="есть план"></i> приступить
                                    {% endif %}
                                    {% if item.is_waiting() %}
                                        <i class="icon icon-phone" title="ожидание (делегировано)"></i> напомнить
                                    {% endif %}
                                    {% if item.has_next_action() and item.has_completed_action() and not item.is_waiting() %}
                                        <i class="icon icon-cogs" title="в работе (часть задач выполнена)"></i> доделать
                                        {{ '%.0f'|format(100 - item.completed_percentage) }}%
                                    {% endif %}

                                    {# TODO: display "stalled" warning if no plan was completed in the last N days #}

                                {% else %}
                                    <i class="icon icon-beaker" title="нет планов"></i> запланировать
                                {% endif %}
                            {% else %}
                                <i class="icon icon-ok-sign"></i> решено!
                            {% endif %}
                        </td>
                        <td class="age">
                            {% if item.opened %}
                                {{ render_delta(item.opened, now()) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}
