{% extends 'flare/base.html' %}

{% from 'flare/_helpers.html' import render_item_type_label,
                                     render_item_mode_label,
                                     render_item_importance_label,
                                     render_delta
                                     %}

{% block heading %} Проблемы и потребности {% endblock %}
{% block meta %}
<style type="text/css">
    table.items tr.important td.description {
        font-size: 1.1em;
    }
    table.items tr.solved td a {
        color: SeaGreen;
        text-decoration: line-through;
    }
</style>
{% endblock %}
{% block content %}

    {% if items %}
        <h2>Проблемы, риски</h2>
        {{ render_items(items, has_risk=True) }}
        <h2>Потребности</h2>
        {{ render_items(items, has_risk=False) }}
    {% else %}
        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Вероятно, вы достигли нирваны.
        </div>
    {% endif %}

{% endblock %}

{% macro render_items(items, has_risk=True) %}

    <table class="table table-striped items">
        <thead>
            <tr>
                <th>Mode</th>
                <th>Description</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% if has_risk == (True if item.get('risk') else False) %}
                    <tr class="
                        {% if item.mode == 'solved' %}solved{% endif %}
                        {% if item.important %}important{% endif %}
                    ">
                        <td class="mode">{{ render_item_mode_label(item) }}</td>
                        <td class="description">
                            <a href="{{ url_for('flare.item_detail', text=(item.need or item.risk)) }}">
                                {{ (item.risk or item.need)|capfirst }}
                            </a>

                            {% if item.mode == item.MODE_OPEN %}
                                {% if item.plan %}
                                    {% if not item.has_next_action() %}
                                        <span class="badge badge-warning">no next action</span>
                                    {% endif %}
                                {% else %}
                                    <span class="badge badge-important">no plans</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="age">
                            {% if item.meta and item.meta.created %}
                                {{ render_delta(now(), item.meta.created) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}
