{% macro render_tasks(items) %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>State</th>
                {#
                <th>Bonus</th>
                #}
                <th>Text</th>
                <th>Effort</th>
                {#
                <th>DRAG</th>
                <th>FXTM</th>
                <th>WAIT</th>
                #}
                <th>Context</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in items %}
                <tr>
                    <td>
                        {% if plan.state == 'done' %}
                            {% if plan.from_yesterday %}
                                <span class="label label-success">at last!</span>
                            {% else %}
                                <span class="label label-success">done</span>
                            {% endif %}
                        {% elif plan.waiting_for %}
                            <span class="label label-info">waiting</span>
                        {% elif plan.from_yesterday %}
                            <span class="label label-warning">drag</span>
                        {% elif plan.bigstone %}
                            <span class="label label-warning">big stone</span>
                        {% else %}
                            <span class="label label-warning">to do</span>
                        {% endif %}
                    </td>
                    {#
                    <td>
                        {% if plan.bigstone %}
                            <span class="label label-important">big stone</span>
                        {% endif %}
                    </td>
                    #}
                    <td style="{% if plan.bigstone %}font-size: 1.2em;{% endif %}">
                        {% if plan.deadline %}
                            {% if plan.deadline == now().date() %}
                                <span class="badge badge-warning">сегодня</span>
                            {% elif plan.deadline < now().date() %}
                                <span class="badge badge-important" title="{{ plan.deadline }}">{{ now().date() - plan.deadline }}</span>
                            {% else %}
                                <span class="badge badge-info">{{ plan.deadline }}</span>
                            {% endif %}
                        {% endif %}
                        {% if plan.time %}
                            <span class="label label-info"><i class="icon-time icon-white"></i> {{ plan.time.strftime('%H:%M') }}</span>
                        {% endif %}
                        <span style="{% if plan.state == 'done' %}color: darkgrey; text-decoration: line-through;{% endif %}">
                            {{ plan.text|hashtagify|safe|urlize }}
                        </span>
                    </td>
                    <td>{% if plan.estimate %}<span class="badge badge-info">{{ plan.estimate }}</span>{% endif %}</td>
                    {#
                    <td>{% if plan.from_yesterday %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    <td>{% if plan.fixed_time %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    <td>{% if plan.waiting_for %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    #}
                    <td>
                        {% for context in plan.contexts %}
                            <span class="label"><i class="icon-globe icon-white"></i> {{ context }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}
