{% extends 'base.html' %}

{% from "_helpers.html" import render_tasks %}

{% block heading %} Единица имущества {{ item.title }} {% endblock %}
{% block content %}
    {% if agenda %}
        {{ render_tasks(agenda) }}
    {% endif %}

    {% if item %}
        {{ item.body|hashtagify|safe }}
    {% else %}
        <div class="alert alert-block">
            <h2 class="alert-heading">Нет данных</h2>
            Попробуйте <a href="{{ url_for('asset_index') }}">другое имущество</a>.
        </div>
    {% endif %}
{% endblock %}

