<!doctype html>
<html>
    <head>
        <title>Flow</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 50px;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Flow</a>

                    <ul class="nav">
                        <li><a href="{{ url_for('day_view') }}">Планы</a></li>
                        <li><a href="{{ url_for('project_index') }}">Проекты</a></li>
                        <li><a href="{{ url_for('asset_index') }}">Имущество</a></li>
                        <li><a href="{{ url_for('contact_index') }}">Люди</a></li>
                        <li><a href="{{ url_for('reference_index') }}">Справка</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <h1>{% block heading %} Flow {% endblock %}</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message|safe }}</div>
            {% endfor %}
        {% endwith %}

        {% block content %}
            <p>(nothing here yet)</p>
        {% endblock %}
    </div>
    </body>
</html>
