<!doctype html>
<html>
    <head>
        <title>{% block title %}PIM Flow/Flare{% endblock %}</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/pygments.css') }}" rel="stylesheet">

        <style type="text/css">
            body {
                /* compensate navbar-fixed-top so the h1 is not covered by navbar */
                padding-top: 50px;
            }
        </style>

        {% block head %}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        {% for node in config.NAV_ITEMS %}
                            {% if node.endpoint %}
                                <li class="{% if request.url_rule.endpoint == node.endpoint %}active{% endif %}">
                                    <a href="{{ url_for(node.endpoint) }}">{% if node.icon %}<i class="icon icon-{{ node.icon }}"></i>{% endif %} {{ node.label }}</a>
                                </li>
                            {% elif node.items %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{ node.label }}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for subnode in node.items %}
                                            <li>
                                                <a href="{{ url_for(subnode.endpoint) }}">{% if subnode.icon %}<i class="icon icon-{{ subnode.icon }}"></i>{% endif %} {{ subnode.label }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="divider-vertical"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="pull-right">
                        <a class="brand" href="/">PIM</a>
                    </div>
                </div>
            </div>
        </div>

        <h1>{% block heading %} PIM {% endblock %}</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message|safe }}</div>
            {% endfor %}
        {% endwith %}

        {% block content %}
            <p>(nothing here yet)</p>
        {% endblock %}
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    </body>
</html>
