{% extends 'base.html' %}

{% block heading %} Планы {% endblock %}
{% block content %}

    <ul class="pager">
        <li> {# class="previous">#}
            <a href="{{ url_for('day_view', year=prev.year, month=prev.month, day=prev.day) }}">&larr; {{ prev.strftime('%e %b') }}</a>
        </li>
        <li>{{ date.strftime('%e %b %Y') }}</li>
        <li> {# class="next">#}
            <a href="{{ url_for('day_view', year=next.year, month=next.month, day=next.day) }}">{{ next.strftime('%e %b') }} &rarr;</a>
        </li>
    </ul>

    {% if not items %}
    <div class="alert alert-block">
        <h2 class="alert-heading">Нет данных</h2>
        Попробуйте другой день.
    </div>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>State</th>
                {#
                <th>Bonus</th>
                #}
                <th>Text</th>
                <th>Est.</th>
                {#
                <th>DRAG</th>
                <th>FXTM</th>
                <th>WAIT</th>
                #}
            </tr>
        </thead>
        <tbody>
            {% for plan in items %}
                <tr>
                    <td>
                        {% if plan.state == 'done' %}
                            {% if plan.from_yesterday %}
                                <span class="label label-success">finally!</span>
                            {% else %}
                                <span class="label label-success">done</span>
                            {% endif %}
                        {% elif plan.waiting_for %}
                            <span class="label label-info">waiting</span>
                        {% elif plan.from_yesterday %}
                            <span class="label label-warning">drag</span>
                        {% elif plan.bigstone %}
                            <span class="label label-warning">big stone</span>
                        {% else %}
                            <span class="label label-warning">to do</span>
                        {% endif %}
                    </td>
                    {#
                    <td>
                        {% if plan.bigstone %}
                            <span class="label label-important">big stone</span>
                        {% endif %}
                    </td>
                    #}
                    <td style="{% if plan.bigstone %}font-size: 1.2em;{% endif %}">
                        {% if plan.time %}
                            <span class="label label-info"><i class="icon-time icon-white"></i> {{ plan.time.strftime('%H:%M') }}</span>
                        {% endif %}
                        {{ plan.text|safe|urlize }}
                    </td>
                    <td>{% if plan.estimate %}<span class="badge">{{ plan.estimate }}</span>{% endif %}</td>
                    {#
                    <td>{% if plan.from_yesterday %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    <td>{% if plan.fixed_time %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    <td>{% if plan.waiting_for %}<i class="icon-ok-sign"></i>{% else %}—{% endif %}</td>
                    #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
